{% extends 'base.html' %} 
{% block 'body' %}
<div class="bg-gray-900 min-h-screen py-8">
    <div class="max-w-3xl mx-auto bg-gray-700 p-8 rounded-xl shadow-lg border border-gray-200">
        
        <div class="flex items-center space-x-6 mb-8 border-b pb-4">
            
            <img class="w-24 h-24 object-cover rounded-full border-4 border-blue-500 shadow-md" 
                 src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}/static/img/default_profile.png{% endif %}" 
                 alt="Foto de Perfil">
            
            <div>
                <h1 class="text-3xl font-extrabold text-white">{{ user.full_name|default:user.username }}</h1>
            </div>
        </div>

        <div class="space-y-6">
            <h2 class="text-2xl font-semibold text-white mb-4">Informações Pessoais</h2>

            <div class="flex items-center border-b pb-3">
                <p class="w-1/3 text-sm font-medium text-white">Nome Completo</p>
                <p class="w-2/3 text-base text-white">{{ user.full_name }}</p>
            </div>

            <div class="flex items-center border-b pb-3">
                <p class="w-1/3 text-sm font-medium text-white">Email</p>
                <p class="w-2/3 text-base text-white">{{ user.email }}</p>
            </div>

            <div class="flex items-center border-b pb-3">
                <p class="w-1/3 text-sm font-medium text-white">CPF</p>
                <p class="w-2/3 text-base text-white">***.***.{{ user.cpf|slice:"9:" }}</p> 
            </div>

            <div class="flex items-center border-b pb-3">
                <p class="w-1/3 text-sm font-medium text-white">Telefone</p>
                <p class="w-2/3 text-base text-white">{{ user.telefone|default:"Não informado" }}</p>
            </div>

            <div class="flex items-center border-b pb-3">
                <p class="w-1/3 text-sm font-medium text-white">Membro Desde</p>
                <p class="w-2/3 text-base text-white">{{ user.date_joined|date:"d/m/Y" }}</p>
            </div>
        </div>

        <div class="mt-8 pt-6">
            <a href="{% url 'profile_edit' user.id %}" class="w-full sm:w-auto px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-200 shadow-md flex justify-center items-center">
                Mudar Dados e Foto ✏️
            </a>
        </div>
        
    </div>
</div>
{% endblock %}