{% extends "base.html" %}
{% load static %}
{% block 'title' %}Home{% endblock 'title' %}

{% block 'body' %}
<br>
<body class="bg-gray-900 min-h-screen">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="mx-auto p-5 max-w-screen-xl">  
        <!-- historico de series -->        
        <div class="bg-gray-700 rounded-xl shadow-2xl p-4 space-y-4">                
            <div class="text-2xl font-extrabold text-white border-b pb-2">
                🎬 Historico de series
            </div>
                    
            <div class="flex overflow-x-auto gap-4 py-2 custom-scrollbar">
                {% if movies_watched %}
                    <div class="my-8">
                        <h2 class="text-2xl font-bold mb-4">Seu Histórico Recente</h2>
                        
                        <div class="flex overflow-x-auto space-x-4 pb-4">
                            {% for movie in movies_watched %}
                                <div class="flex-shrink-0 w-32 sm:w-40 text-center">
                                    <a href="{% url 'movie' id=movie.id %}" class="block group">
                                        <img 
                                            src="{{ movie.poster.url }}" 
                                            alt="{{ movie.name_movie }}" 
                                            class="w-full h-auto object-cover rounded-lg shadow-md transition duration-300 group-hover:shadow-xl group-hover:scale-105"
                                            loading="lazy"
                                            srcset="{{ movie.get_srcset_urls }}"
                                            sizes="(max-width: 600px) 100vw, 
                                                    (max-width: 1024px) 33vw, 
                                                    25vw"
                                        >
                                        <h3 class="mt-2 text-sm font-semibold text-white truncate group-hover:text-blue-600">
                                            {{ movie.name_movie }}
                                        </h3>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}   
            </div>
        </div>
        <br>

        <!-- historico de filmes -->
        <div class="bg-gray-700 rounded-xl shadow-2xl p-4 space-y-4"> 
            <div class="text-2xl font-extrabold text-white border-b pb-2 border-gray-200">
                🎬 Historico de filmes
            </div>
                
            <div class="flex overflow-x-auto gap-4 py-2 custom-scrollbar">        
                {% if movies_watched %}
                    <div class="my-8">
                        <h2 class="text-2xl font-bold mb-4">Seu Histórico Recente</h2>
                        <div class="flex overflow-x-auto space-x-4 pb-4">
                            {% for movie in movies_watched %}
                                <div class="flex-shrink-0 w-32 sm:w-40 text-center">
                                    <a href="{% url 'movie' id=movie.id %}" class="block group">
                                        <img 
                                            src="{{ movie.poster.url }}" 
                                            alt="{{ movie.name_movie }}" 
                                            class="w-full h-auto object-cover rounded-lg shadow-md transition duration-300 group-hover:shadow-xl group-hover:scale-105"
                                            loading="lazy"
                                            srcset="{{ movie.get_srcset_urls }}"
                                            sizes="(max-width: 600px) 100vw, 
                                                (max-width: 1024px) 33vw, 
                                                25vw"
                                        >
                                        <h3 class="mt-2 text-sm font-semibold text-white truncate group-hover:text-blue-600">
                                            {{ movie.name_movie }}
                                        </h3>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>     
        </div>
        <br>

        <!-- recomendados -->
        <div class="bg-gray-700 rounded-xl shadow-2xl p-4 space-y-4">
            <div class="text-2xl font-extrabold text-white border-b pb-2 border-gray-200">
                🎬 Recomendados
            </div>
                
            <div class="flex overflow-x-auto gap-4 py-2 custom-scrollbar">
                {% for recommended_movie in recommended_movies %}
                        <div class="flex-shrink-0 w-32 sm:w-40 text-center">
                            {% if user.is_vip or user.is_beta %}
                                <a href="{% url 'movie' id=recommended_movie.id %}" class="block group">  
                                    <img 
                                        src="{{ recommended_movie.poster.url }}" 
                                        alt="{{ recommended_movie.name_movie }}" 
                                        class="w-full h-auto object-cover rounded-lg shadow-md transition duration-300 group-hover:shadow-xl group-hover:scale-105"
                                        loading="lazy"
                                        srcset="{{ recommended_movie.get_srcset_urls }}"
                                        sizes="(max-width: 600px) 100vw, 
                                            (max-width: 1024px) 33vw, 
                                            25vw"
                                    >
                                    <h3 class="mt-2 text-sm font-semibold text-white truncate group-hover:text-blue-600">
                                        {{ recommended_movie.name_movie }}
                                    </h3>
                                </a>
                            {% endif %}      

                        </div>
                {% endfor %}
            </div>   
        </div>
        <br>

        <!-- series -->
        <div class="bg-gray-700 rounded-xl shadow-2xl p-4 space-y-4">
            <div class="text-2xl font-extrabold text-white border-b pb-2 border-gray-200">
                🎬 Séries Disponíveis
            </div>
    
            <div class="flex overflow-x-auto gap-4 py-2 custom-scrollbar">
                {% for serie in series %}
                    <div class="flex-shrink-0 w-32 sm:w-40 text-center">
                        {% if user.is_vip or user.is_beta %}
                            <a href="{% url 'serie' id=serie.id %}" class="block group">
                                <img 
                                    src="{{ serie.serie_poster.url }}" 
                                    alt="{{ serie.name_serie }}" 
                                    class="w-full h-auto object-cover rounded-lg shadow-md transition duration-300 group-hover:shadow-xl group-hover:scale-105"
                                    loading="lazy"
                                    srcset="{{ serie.get_srcset_urls }}"
                                    sizes="(max-width: 600px) 100vw, 
                                        (max-width: 1024px) 33vw, 
                                        25vw"
                                >
                                <h3 class="mt-2 text-sm font-semibold text-white truncate group-hover:text-blue-600">
                                    {{ serie.name_serie }}
                                </h3>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</body>
{% endblock 'body' %}

<style>
.custom-scrollbar::-webkit-scrollbar {
    display: none;
}

.custom-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}
</style>