{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <script src="{% static 'js/movie.js' %}"></script>
{% endblock extra_head %}


{% block body %}
    <body class="border-black bg-white overflow-auto">
        <div class="border-black bg-gray-100">
            <div class="filme-detalhes">
                {% if movie.video %}
                    <div class="flex justify-center items-center">
                        <video id="Video" data-movie-id="{{ movie.id }}" width="300" height="110" controls>
                            <source src="{{ movie.video.url }}" type="video/mp4">
                            Seu navegador não suporta vídeo.
                        </video>
                    </div>
                {% else %}
                    <p><em>Vídeo ainda não disponível.</em></p>
                {% endif %}

                <br>
                <h1 class="underline text-4xl text-center">{{ movie.name_movie }}</h1>
                <br>

                <p class="text-center underline"><strong>Gêneros</strong>
                    {% for genero in movie.gender.all %}
                        {{ genero.gender }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <br>

                <p class="text-center underline"><strong>Descrição</strong> </p>
                    <div class="text-center underline">{{ movie.description }}</div> 
                <br>

                <p class="text-center underline"><strong>Data de lançamento:</strong> {{ movie.release_date }}</p>

            </div>
        </div>
    </body>
{% endblock body %}
