{% extends "base.html" %}
{% load static %}

{% block 'title' %}Pagamentos{% endblock 'title' %}

{% block 'body' %}
  <div class="bg-gray-900 min-h-screen flex items-center justify-center">
    <div class="bg-gray-700 p-8 rounded-lg shadow-lg max-w-sm ">
      <section class="flex flex-col items-center justify-center p-8 rounded-2xl border border-white/10 bg-white/5 backdrop-blur-sm shadow-xl transition-all hover:shadow-2xl max-w-sm mx-auto">

        <div class="mb-4 px-3 py-1 rounded-full bg-blue-600 text-[10px] font-bold uppercase tracking-widest text-white">
          VIP
        </div>

        <div class="mb-8 text-center">
          <h3 class="text-3xl text-white font-extrabold tracking-tight mb-2">
            Assinatura SLC <span class="text-blue-500">VIP</span>
          </h3>
          
          <div class="flex items-baseline justify-center gap-1 mb-4">
            <span class="text-white text-4xl font-black">R$ 1,00</span>
            <span class="text-gray-400 text-sm italic">/mês</span>
          </div>

          <p class="text-gray-300 leading-relaxed max-w-62.5 mx-auto text-sm">
            Acesso ilimitado a todos os filmes e séries da nossa plataforma.
          </p>
        </div>

        <a
          href="{{ checkout_url }}"
          class="w-full bg-blue-600 hover:bg-blue-700 hover:scale-105 active:scale-95 text-white font-bold py-4 px-8 rounded-xl uppercase tracking-wider transition-all duration-300 shadow-lg shadow-blue-600/30"
        >
          Assinar Agora
        </a>

        <p class="mt-4 text-[10px] text-gray-500 uppercase font-medium">Cancelamento grátis a qualquer momento</p>
      </section>
    </div>
  </div>
{% endblock 'body' %}
