{% extends "base.html" %}
{% load static %}
{% block 'title' %}Pagamentos{% endblock 'title' %}

{% block 'body' %}
  <body class="bg-gray-900 min-h-screen">
    <div class="flex items-center justify-center w-64 flex display size-20 bg-white">
        <section class="text-center text-white">
          <div class="">
            <div class="description">
              <h3>Assinatura SLC VIP</h3>
              <h5>R$ 1,00</h5>
            </div>
          </div>

          <form action="/create-checkout-session" method="POST">{% csrf_token %}
            <button type="submit" id="checkout-button">Pagar agora</button>
          </form>
        </section>
    </div>
  </body>
{% endblock 'body' %}
