services:
  mailpit:
      image: axllent/mailpit:latest
      ports:
        - "8025:8025"
        - "1025:1025"

  redis:
    image: redis:7
    container_name: app_redis
    ports:
      - "6380:6379"

  postgres:
    image: postgres:18
    volumes:
      - postgres_data:/var/lib/postgresql/18/docker
    env_file:
      - .env
    ports:
      - "5433:5432"

volumes:
  postgres_data: {}
