{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="body">    
        <br><br><br>
        
        <h1 class="title">{{ movie.title_movie }}</h1>
    
        <div class="card-movie">  
            <div class="div-movie">
                <video src="{{ movie.file_movie.url }}" type="video/mp4" class="video" id="video" controls></video>
                <p class="description_movie">DESCRIÇÃO: {{ movie.description }}</p>
            </div>
        </div>

        <div class="card_recommend">
            <h1 class="title_recommend"> Recomendações </h1>
            <div>
                {% for rec in recomendados %}
                    <div class="card_movie_recommend">
                        <a href="{% url 'movie' rec.id %}">
                            <img src="{{ rec.movie_cover.url }}" width="75" height="75" alt="Capa do filme">
                        </a>                        
                        <h1 class="top_5_recommend"> {{ rec.title_movie }} </h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}