{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="body">    
        <br><br><br>
        
        <h1 class="title">{{ movie.title_movie }}</h1>
    
        <div class="card-movie">  
            <div class="div-movie">
                <video src="{{ movie.file_movie.url }}" type="video/mp4" class="video" id="Video" controls></video>
                <p class="description_movie">DESCRIÇÃO: {{ movie.description }}</p>
            </div>
        </div>

        <div class="card_recommend">
            <h1 class="title_recommend"> Recomendações </h1>
            <div>
                {% for rec in recomendados %}
                    <div class="card_movie_recommend">
                        <a href="{% url 'movie' rec.id %}">
                            <img src="{{ rec.movie_cover.url }}" width="75" height="75" alt="Capa do filme">
                        </a>                        
                        <h1 class="top_5_recommend"> {{ rec.title_movie }} </h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const Get_video = document.getElementById("Video");
        const videoSrc = '/media/movies/hls/movie_1.m3u8';

        if (Get_video.canPlayType('application/vnd.apple.mpegurl')){
            Get_video.src = videoSrc;
            
            Get_video.addEventListener('loadedmetadata', function () {
                Get_video.play();
            });
        }

        else if(Hls.isSupported()){
            const hls = new Hls();
            hls.loadSource(videoSrc)
            hls.attachMedia(Get_video)    
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
            Get_video.play();
            });
        } 
        else {
            console.error('Este navegador não é compatível com HLS.');
        }
    })
</script>