.body{
    background-color: #111418;

}

.navbar {
    display: flex;
    align-items: center;
    background-color: #111418;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
}

.logo{
    display: flex;
    padding-left: 50%;
}


.nav-links{    
    color:transparent;
    flex-direction: row;
    display: flex;
    font-size: 20px;
    gap: 20px;
    padding-right: 75%;
    
}

.option_navbar{
    color: white;
    display: flex;
    
}

.input_navbar{
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    width: 500px;
    display: flex;
    align-self: center;
}

.btn_pesquisa{
    border: transparent;
    color: transparent;
    background: transparent;
}