.home{
    background-color: #111418;
}

.card-produto {
    border: 2px groove rgb(247, 245, 245);
    border-radius: 1rem;

    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    padding: 2%;

    display: flex;
    justify-content: center;

    background-color: #111418;
}

.div-produto {
    border: 1px solid rgb(252, 250, 250);
    border-radius: 5px;

    width: 15%;
    padding: 5px;

    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    
    background-color: #1a1a1a;
}

.div-produto img {
    max-width: 80%;
    height: auto;
    object-fit: cover;
}

.titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color:white; 

    padding-top: 2%;
    display: flex;
    justify-content: center;

    color:white; 
}

.url_produto{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 4, 255);
    text-decoration: underline;

    justify-content: center;
    display: flex;
}
.inf_produto_titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    justify-content: center;
    display: flex;
    padding: 1px;
    margin: 10px;

}
#inf_produto{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
    justify-content: center;
    display: flex;
    margin: 5px;
}

.input_navbar{
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    width: 500px;
    display: flex;
    align-self: center;
}
