{% extends "base.html" %}
{% load static %}
{% block 'title' %}Login{% endblock 'title' %}
{% block 'extra_head' %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{% static 'js/login.js' %}" async defer></script>
    <link href="{% static 'css/cadastro.css' %}" rel="stylesheet">

    <meta name="google-signin-client_id" content="325709064395-i6ekj4gdhrmradqgeulted7hno887f9q.apps.googleusercontent.com">
{% endblock 'extra_head' %}


{% block 'body' %}
    <div class="bg-gray-100 flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>
            
            <label for="opcao" class="flex justify-center text-sm font-medium text-gray-700">Escolhe umas das formas de entradas</label>
                <select id="opcao" name="opcao" class="mt-1 block w-full px-3 py-2 border rounded bg-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 flex text-center items-center justify-center">
                    <div class="text-center flex items-center justify-center">
                        <option  value="codigo-email">Entrar com código via email</option>
                        <option  value="codigo-sms">Entrar com código via sms (isso só serve se você adicionou o telefone no cadastro)</option>
                        <option  value="senha-email">Entrar com a senha e o email</option>
                    </div>
                </select>

            <div id="email-code-section" class="mt-4 hidden">
                <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
                <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div id="sms-code-section" class="mt-4 hidden">
                <label for="telefone" class="block text-sm font-medium text-gray-700">Telefone:</label>
                <input type="tel" id="telefone" name="telefone" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>

            <div id="email-password-section" class="mt-4 hidden">
                <label for="login-email" class="block text-sm font-medium text-gray-700">Email:</label>
                <input type="email" id="login-email" name="login-email" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">

                <label for="senha" class="block text-sm font-medium text-gray-700 mt-4">Senha:</label>
                <input type="password" id="senha" name="senha" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
            </div>
            <br>

            <!-- BOTÕES -->
                <div class="justify-center flex">
                    <a class="fancy" href="/auth/cadastro/">
                        <span class="top-key"></span>
                        <span class="text">cadastro</span>
                        <span class="bottom-key-1"></span>
                        <span class="bottom-key-2"></span>
                    </a>
                </div>

                <br>
                <div class="justify-center flex">
                    <button class="fancy" id="enviar">
                        <span class="top-key"></span>
                        <span class="text">entrar</span>
                        <span class="bottom-key-1"></span>
                        <span class="bottom-key-2"></span>
                    </button>
                </div>

            <div id="sms-code-section" class="mt-4 hidden">
                <label for="telefone" class="block text-sm font-medium text-gray-700">Telefone:</label>
                <input type="tel" id="code-telefone" name="telefone" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">

                <button id="enviar-sms" class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    Enviar código por SMS
                </button>

                <div id="campo-codigo-sms" class="mt-4 hidden">
                    <label for="codigo-sms" class="block text-sm font-medium text-gray-700">Código recebido:</label>
                    <input type="text" id="codigo-sms" name="codigo-sms" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
            </div>


            <div id="email-code-section" class="mt-4 hidden">
                <label for="email" class="block text-sm font-medium text-gray-700">email:</label>
                <input type="email" id="code-email" name="email" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">

                <button id="enviar-email" class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    Enviar código por email
                </button>

                <div id="campo-codigo-email" class="mt-4 hidden">
                    <label for="codigo-email" class="block text-sm font-medium text-gray-700">Código recebido:</label>
                    <input type="text" id="codigo-email" name="codigo-email" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
            </div>
            <br> 

            <!-- GOOGLE -->
            <div id="g_id_onload"
                data-client_id="325709064395-i6ekj4gdhrmradqgeulted7hno887f9q.apps.googleusercontent.com"
                data-context="signin"
                data-callback="handleCredentialResponse"
                data-itp_support="true">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>

        <!-- pop dos codigos -->
        <div id="popup-codigo" class="hidden fixed top-0 lelf-0 w-full h-full bg-black bg-opacity-5C z-[999]">
            <div class="bg-white p-5 my-[15%] mx-auto w-[300px] rounded-lg text-center">
                <span id="fechar-popup" class="float-right text-[20px] cursor-pointer">&times;</span>
                <p>Digite o código recebido:</p>
                    <input type="text" id="codigo-digitado" placeholder="Código">
                    <button id="confirmar-codigo">Confirmar</button>
            </div>
        </div>
    </div>
{% endblock 'body' %}
