{% extends "base.html" %}
{% load static %}
{% block 'title' %}Login{% endblock 'title' %}
{% block 'extra_head' %}
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="{% static 'js/login.js' %}" async defer></script>
    <meta name="google-signin-client_id" content="325709064395-i6ekj4gdhrmradqgeulted7hno887f9q.apps.googleusercontent.com">
{% endblock 'extra_head' %}


{% block 'body' %}
    <div class="bg-gray-100 flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
            <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>
            
            <label for="opcao" class="flex justify-center text-sm font-medium text-gray-700">Escolhe umas das formas de entradas</label>
                <select id="opcao" name="opcao" class="mt-1 block w-full px-3 py-2 border rounded bg-white shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 flex text-center items-center justify-center">
                    <div class="text-center flex items-center justify-center">
                        <option  value="codigo-email">Entrar com código atraves do email</option>
                        <option  value="codigo-sms">Entrar com código via sms (isso só funciona se você adicionou o telefone no cadastro)</option>
                        <option  value="senha-email" selected>Entrar com senha e email</option>
                    </div>
                </select>
             
            <!-- inputs -->

            <div id="email-password-section" class="mt-4 block">
                <label for="login-email" class="block text-sm font-medium text-gray-700">Email:</label>
                <input type="email" id="login-email" name="login-email" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500">

                <label for="senha" class="block text-sm font-medium text-gray-700 mt-4">Senha:</label>
                <input type="password" id="login-password" name="senha" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500">
            </div>
            <br>

            <div id="sms-code-section" class="mt-4 hidden">
                <label for="telefone" class="block text-sm font-medium text-gray-700">Telefone:</label>
                <input type="tel" id="code-telefone" name="telefone" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500">

                <!-- abrir pop ou algo parecido pra digitar o codigo -->
            </div>


            <div id="email-code-section" class="mt-4 hidden">
                <label for="email" class="block text-sm font-medium text-gray-700">email:</label>
                <input type="email" id="code-email" name="email" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500">

                <!-- abrir pop ou algo parecido pra digitar o codigo -->

            </div>
            <!-- ----- -->

            <!-- BOTÕES -->
                <div class="justify-center flex">
                    <a  href="/auth/cadastro/" class="relative inline-flex items-center justify-center px-8 py-2.5 overflow-hidden tracking-tighter text-white bg-black rounded-md group">
                        <span
                            class="absolute w-0 h-0 transition-all duration-1000 ease-out bg-blue-600 rounded-full group-hover:w-56 group-hover:h-56">
                        </span>
                        <span class="absolute bottom-0 left-0 h-full -ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-full opacity-100 object-stretch" viewBox="0 0 487 487">
                                <path
                                    fill-opacity=".1"
                                    fill-rule="nonzero"
                                    fill="#FFF"
                                    d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z">
                                </path>
                            </svg>
                        </span>
                        <span class="absolute top-0 right-0 w-12 h-full -mr-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="object-cover w-full h-full"
                                viewBox="0 0 487 487">
                                <path
                                    fill-opacity=".1"
                                    fill-rule="nonzero"
                                    fill="#FFF"
                                    d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z">
                                </path>
                            </svg>
                        </span>
                        <span
                            class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-200">
                        </span>
                        <span class="relative text-base font-semibold">cadastro</span>
                    </a>
                </div>

                <br>
                <div class="justify-center flex">
                    <button id="EnviarDados" class="relative inline-flex items-center justify-center px-8 py-2.5 overflow-hidden tracking-tighter text-white bg-black rounded-md group">
                        <span
                            class="absolute w-0 h-0 transition-all duration-1000 ease-out bg-blue-600 rounded-full group-hover:w-56 group-hover:h-56">
                        </span>
                        <span class="absolute bottom-0 left-0 h-full -ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-auto h-full opacity-100 object-stretch" viewBox="0 0 487 487">
                                <path
                                    fill-opacity=".1"
                                    fill-rule="nonzero"
                                    fill="#FFF"
                                    d="M0 .3c67 2.1 134.1 4.3 186.3 37 52.2 32.7 89.6 95.8 112.8 150.6 23.2 54.8 32.3 101.4 61.2 149.9 28.9 48.4 77.7 98.8 126.4 149.2H0V.3z">
                                </path>
                            </svg>
                        </span>
                        <span class="absolute top-0 right-0 w-12 h-full -mr-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="object-cover w-full h-full"
                                viewBox="0 0 487 487">
                                <path
                                    fill-opacity=".1"
                                    fill-rule="nonzero"
                                    fill="#FFF"
                                    d="M487 486.7c-66.1-3.6-132.3-7.3-186.3-37s-95.9-85.3-126.2-137.2c-30.4-51.8-49.3-99.9-76.5-151.4C70.9 109.6 35.6 54.8.3 0H487v486.7z">
                                </path>
                            </svg>
                        </span>
                        <span
                            class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-200">
                        </span>
                        <span class="relative text-base font-semibold">entrar</span>
                    </button>
                </div>
            <!-- ----- -->
            <br>

            <!-- GOOGLE -->
            <div id="g_id_onload"
                data-client_id="325709064395-i6ekj4gdhrmradqgeulted7hno887f9q.apps.googleusercontent.com"
                data-context="signin"
                data-callback="handleCredentialResponse"
                data-itp_support="true">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>
        <!-- ----- -->

        <!-- pop dos codigos -->
        <div id="popup-codigo" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
            <div class="bg-white p-6 rounded shadow-lg w-full max-w-sm">
                <h2 id="popup-titulo" class="text-lg font-semibold mb-4">Digite o código recebido</h2>
                
                <label for="codigo" class="block text-sm font-medium text-gray-700">Código:</label>
                <input type="text" id="codigo" name="codigo" maxlength="6" class="mt-1 block w-full px-3 py-2 border rounded shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500">

                <div class="mt-4 flex justify-end gap-2">
                <button id="fechar-popup" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Cancelar</button>
                <button id="confirmar-codigo" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">Confirmar</button>
                </div>
            </div>
        </div>
        <!-- ----- -->
    </div>
{% endblock 'body' %}
