{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br><br>
        <div>
            <h1 class="title">SLC</h1>
            <p class="description">Bem vindo ao site SLC, você ja possui uma conta?</p>
        </div>

    <div class="father-pag-login">
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form class="form-login" id="id-login" method="POST">{% csrf_token %}
            <h1 class="titulo-form">Login</h1>
            <div class="inputs">
                <input class="camp-inputs" type="email" placeholder="Digite seu email" id="input-email" name="email">
                <input class="camp-inputs" type="password" placeholder="Digite sua senha" id="input-password" name="password">
            </div>
            
            <button type="submit" id="submit-form-login">Entrar</button>
            <br>
            <a href="{% url 'signup' %}">cadastro</a>  
        </form>
    </div>
{% endblock %}

<script>
    const GetInputsLogin = document.getElementById("id-login");
        const email = document.getElementById("#input-email");
        const password = document.getElementById("#input-password");
        
        function GetCookie(name){
            let cookieValue = null;
            if(document.cookies && document.cookie !== ""){
                const cookie = document.cookie.split(";");
                for (let i = 0; i < cookie.length; i++){
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }}
        }
        return cookieValue;
        }
        GetInputsLogin.addEventListener("submit", function(event){
            event.defaultPrevented();
        })

        const everything_filled = email.value !== "" && password.value !== "";
            if (!everything_filled){
                alert("preencha todos os campos antes de cadastrar");
                return;
            }

            const Login_User = {
                email: email.value,
                password: password.value,
            };

            fetch("slc/login/", {
                method:"POST",
                headers: {
                    "Content_Type": "applocation/json",
                    "X-CSRFToken":  GetCookie('csrftoken'),
                },
                body: JSON.stringify(Login_User),
            })
            .then(response => response.json())
            .data(data => {
                if (data.sucesso) {
                    alert("Usuário logado com sucesso!");
                    window.location.href = "home.html";
                } else {
                    alert("Erro ao logar: " + (data.erro || "Tente novamente."));
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            })
</script>