{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br><br>
    <div>
        <h1 class="title">SLC</h1>
        <p class="description">Bem vindo ao site SLC, para comerçamos, que tal criar uma conta?</p>
    </div>

    <div class="father-pag-signup">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    
        <form class="form-sign-up" id="id-sign-up" method="POST">{% csrf_token %}
            
            <h1 class="titulo-form"> Cadastro</h1>

            <div class="inputs">
                <input type="text" placeholder="Digite seu nome" class="camp-inputs" id="input-name">
                <input type="email" placeholder="Digite seu e-mail" class="camp-inputs" id="input-email">
                <input type="password" placeholder="Digite sua senha" class="camp-inputs" id="input-password">
            </div>
            
            <button type="submit" id="submit-form-sign-up">SignUp</button>
            <br>
            <a href="{% url 'login' %}">ja possui uma conta?</a>

        </form>
    </div>    
{% endblock %}

<script>
    const GetInputs = document.getElementById("id-sign-up");
        const name = GetInputs.querySelector("#input-name");
        const email = GetInputs.querySelector("#input-email");
        const password = GetInputs.querySelector("#input-password");
    
        function GetCookie(name){
            let cookieValue = null;
            if(document.cookies && document.cookie !== ""){
                const cookie = document.cookie.split(";");
                for (let i = 0; i < cookie.length; i++){
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }}
        }
        return cookieValue;
        }

    GetInputs.addEventListener("submit", function(event){
        event.preventDefault();
    
        const everything_filled = name.value !== "" && email.value !== "" && password.value !== "";
            if (!everything_filled){
                alert("preencha todos os campos antes de cadastrar");
                return;
            }

            if (name.value.length <=2){
                alert("o nome precisa de pelo menos 3 caracterios");
                return;
            }
            if (password.value.length <6){
                alert("a senha precisa de pelo menos 6 caracterios");
                return;
            }

            const registered_User = {
                name: name.value,
                email: email.value,
                password: password.value,
            };
            fetch("/slc/signup/", {
                method:"POST",
                headers:{ 
                    'Content-Type': 'application/json',
                    'X-CSRFToken': GetCookie('csrftoken'),
                },
                body: JSON.stringify(registered_User),
            })
            .then(response=> response.json())
            .then(data => {
                if (data.sucesso) {
                    alert("Usuário cadastrado com sucesso no banco de dados!");
                    window.location.href = "home.html";
                } else {
                    alert("Erro ao cadastrar: " + (data.erro || "Tente novamente."));
                }
            })
            .catch(error => {
                console.error('Erro:', error);
            });
        });
</script>