{% extends "base.html" %}
{% load static %}

{% block 'extra_head' %}
    <script src="{% static 'js/movie.js' %}"></script>
{% endblock 'extra_head' %}

{% block 'body' %}
    <main class="min-h-screen bg-gray-900 text-white p-4 sm:p-8">
        <div class="max-w-8xl mx-auto bg-gray-800 rounded-xl shadow-2xl p-6 md:p-10">

            <h1 class="text-4xl sm:text-5xl font-extrabold text-white text-center mb-6">
                {{ movie.name_movie }}
            </h1>
            
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
                
                <div class="lg:col-span-2 space-y-6">
                    
                    {% if movie.video %}
                        {% if movie.processado %}
                            <div class="relative w-full aspect-video rounded-lg overflow-hidden shadow-lg">
                                <video 
                                    id="Video" 
                                    class="w-full h-full object-cover video-js vjs-theme-city"
                                    controls
                                >
                                    <source src="{{ movie.hls_playlist }}" type="application/x-mpegURL">
                                    Seu navegador não suporta vídeo.
                                </video>
                                {% else %}
                                    <p>O filme está sendo processado... aguarde alguns minutos.</p>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="h-64 flex justify-center items-center bg-gray-700 rounded-lg">
                            <p class="text-gray-400 text-xl"><em>Trailer indisponível.</em></p>
                        </div>
                    {% endif %}
                    
                    <div class="bg-gray-700 p-4 rounded-lg shadow-inner">
                        <h2 class="text-2xl font-semibold text-white mb-2 border-b border-gray-600 pb-1">Descrição</h2>
                        <div class="text-white leading-relaxed">{{ movie.description }}</div> 
                    </div>

                </div>

                <div class="lg:col-span-1 space-y-6">
                    <div class="bg-gray-700 p-6 rounded-lg shadow-xl space-y-4">
                        <div class="border-b border-gray-600 pb-2">
                            <strong class="block text-lg text-white mb-1">Data de Lançamento</strong> 
                            <span class="text-white">{{ movie.release_date }}</span>
                        </div>
                        
                        <div>
                            <strong class="block text-lg text-white mb-1">Gêneros</strong>
                            <div class="flex flex-wrap gap-2">
                                {% for genero in movie.gender.all %}
                                    <span class="bg-blue-600 text-white text-xs font-semibold px-3 py-1 rounded-full">
                                        {{ genero.gender }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="bg-gray-700 p-6 rounded-lg shadow-xl text-center">
                        <h2 class="text-xl font-semibold mb-3 text-white">Sua Avaliação</h2>                        
                        <form id="ratingForm">
                            {% csrf_token %}
                            <div class="flex flex-row-reverse rating justify-center">
                                
                                <input type="radio" id="star5" name="nota" value="5" class="hidden"/>
                                <label for="star5" class="text-4xl text-gray-400 hover:text-yellow-500 cursor-pointer star-label" title="5 estrelas">&#9733;</label>
                                
                                <input type="radio" id="star4" name="nota" value="4" class="hidden"/>
                                <label for="star4" class="text-4xl text-gray-400 hover:text-yellow-500 cursor-pointer star-label" title="4 estrelas">&#9733;</label>
                                
                                <input type="radio" id="star3" name="nota" value="3" class="hidden"/>
                                <label for="star3" class="text-4xl text-gray-400 hover:text-yellow-500 cursor-pointer star-label" title="3 estrelas">&#9733;</label>
                                
                                <input type="radio" id="star2" name="nota" value="2" class="hidden"/>
                                <label for="star2" class="text-4xl text-gray-400 hover:text-yellow-500 cursor-pointer star-label" title="2 estrelas">&#9733;</label>
                                
                                <input type="radio" id="star1" name="nota" value="1" class="hidden" />
                                <label for="star1" class="text-4xl text-gray-400 hover:text-yellow-500 cursor-pointer star-label" title="1 estrela">&#9733;</label>
                                
                            </div>
                            <p class="text-sm text-white mt-2" id="ratingMessage">Clique em uma estrela para avaliar.</p>
                        </form>
                    </div>

         
                </div>
            </div>

        </div>
    </main>
{% endblock 'body' %}