{% load static %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- tailwind -->
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    
    <!-- sistema de qualidade de video -->
    <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1.0.1/dist/city/index.css" rel="stylesheet">
    {% block 'extra_head' %} {% endblock 'extra_head' %}
</head>

<body>
    <nav class="bg-gray-700 shadow-xl">
        <div class="max-w-xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-center items-center">
            <div class="flex justify-between h-18">                    
                <div class="hidden sm:flex sm:items-center sm:space-x-6"> 
                    <a id="Link-home" href="{% url 'home' %}" class="text-white hover:text-blue-600 duration-300">Home</a>
                    
                    <form class="max-w-md mx-auto">   
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-body text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>
                            </div>
                            <input type="search" id="search" class="block rounded-md focus:outline-none text-white w-full p-3 ps-9 bg-neutral-secondary-medium border-b text-heading text-sm rounded-base shadow-xs placeholder:text-body" placeholder="procurar filme" required />
                        </div>
                    </form>

                    <el-dropdown class="inline-block">
                        <button class=" hover:text-blue-600 duration-300 inline-flex w-full justify-center gap-x-1.5  bg-trasparent px-3 py-2 text-sm font-semibold text-white ">
                            Menu
                        </button>

                        <el-menu anchor="bottom end" popover class="w-40 bg-gray-800  rounded-md  transition ">
                            <div class="py-1">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'profile' user.id %}" class="flex text-center text-white w-56 bg-gray-800  items-center justify-center hover:text-blue-600 duration-300">Perfil</a>
                                    <a href="{% url 'checkout' %}" class="flex text-center text-white w-56 bg-gray-800  items-center justify-center hover:text-blue-600 duration-300">Assinatura VIP</a>
                                    <a id="Link-home" href="{% url 'support_ia' %}" class="flex text-center text-white w-56 bg-gray-800 items-center justify-center hover:text-blue-600 duration-300">IA</a>
                                    <a id="Link-login" href="{% url 'account_logout' %}" class="flex text-center text-white w-56 bg-gray-800 items-center justify-center hover:text-red-600 duration-300">Sair da conta</a>
                                {% else %}
                                    <a id="Link-cadastro" href="{% url 'account_signup' %}" class="flex text-center text-white w-56 bg-gray-800 items-center justify-center hover:text-blue-600 duration-300">Cadastro</a>
                                    <a id="Link-login" href="{% url 'account_login' %}" class="flex text-center text-white w-56 bg-gray-800 items-center justify-center hover:text-blue-600 duration-300">Login</a>
                                {% endif %}
                            </div>
                        </el-menu>
                    </el-dropdown>  
                </div>

            </div>
        </div>    
    </nav>
    {% block 'body' %} {% endblock 'body' %}
</body>
