@import "tailwindcss";



.rating > .star-label:hover,
.rating > .star-label:hover ~ .star-label {
    color: #f59e0b; 
}

.rating input:checked ~ .star-label {
    color: #f59e0b; 
}

.rating input:checked + .star-label {
    color: #f59e0b;
}